

body {
  color: #40514E;
  background-color: #E8F6EF;
  margin: 0;
  text-align: center;
  font-family: 'Uchen', serif;
}
h1 {
  font-size: 437.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;

}
h2 {
  font-family: 'Montserrat', sans-serif;
font-size: 20px;
color: #66BFBF;
font-weight:bold;
padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight:700;

}

hr {
   width: 85%;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;

}

.middle-container {
    margin: 85px auto 85px auto;
}
.social-menu {
     color: white;
     background-color: #66BFBF;
     margin-bottom: 0;
     padding: 20px 0 5px 0;
}

.skill-row-1 {
  width: 50%;
  margin: 70px auto 70px auto;
  text-align: left;
  line-height: 2;

}
.skill-row-2 {
  width: 50%;
  margin: 70px auto 70px auto;
  text-align: left;
  line-height: 2;
}


.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 400px;
}
.top-cloud {
  position: absolute;
  right:400px;
  top: 50px;
}
.sheru {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
.computer {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  float: right;
  margin-left: 40px;
}

.swift {
  border-radius: 100%;
  height: 200px;
  width: 210px;
  float: left;
  margin-right: 40px;
}
.intro {
   width: 50%;
   text-align: center;
   margin: auto;
}
.desdev {
  width: 80%;
}
.swiftie {
  width: 95%;
}
.final {
   width: 50%;
   margin: auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fcfcfc;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2bc4ad;
  text-decoration: none;
}
.copyright {
  padding: 20px 0;
  font-size: 15%;
}
.me {
  font-size: 30px;
}
.social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fab {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #0077B5;
}
.social-menu {
    position: relative;
}
.footer-bottom {
  position:static;
  text-align:
  
}
